@{

}
<!-- 侧边导航 -->
<div class="page-sidebar" id="sidebar">
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <div class="page-sidebar">
        <ul class="nav sidebar-menu sidemenu">
            <li @(Model == 1 ? "class=active" : "")>
                <a href="/Home/Index"><span>主页</span></a>
            </li>
            <li @(Model == 2 ? "class=open" : "")>
                <a href="#" class="menu-dropdown" ng-click="dropdown($event.target)">
                    <span class="menu-text">医生管理</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li @(Model == 2 ? "class=active" : "")>
                        <a href="/Doctor/DoctorList"><span>医生一览</span></a>
                    </li>
                </ul>
            </li>
            <li @(Model == 3 ? "class=open" : "")>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">客户管理</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li @(Model == 3 ? "class=active" : "")>
                        <a href="/Customer/CustomerList"><span>客户一览</span></a>
                    </li>
                </ul>
            </li>
            <li @(Model == 16 ? "class=open" : "")>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">服务产品管理</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li @(Model == 16 ? "class=active" : "")>
                        <a href="/Service/ServiceList"><span>服务产品一览</span></a>
                    </li>
                </ul>
            </li>
            @if (ViewBag.Role == 1)
            {
                <li @(Model == 4 ? "class=open" : "")>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">运营人员管理</span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li @(Model == 4 ? "class=active" : "")>
                            <a href="/Staff/StaffList"><span>运营人员一览</span></a>
                        </li>
                    </ul>
                </li>
            }
            <li @(Model == 5 ? "class=open" : "")>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">客户咨询管理</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li @(Model == 5 ? "class=active" : "")>
                        <a href="/Advisory/AdvisoryList"><span>咨询一览</span></a>
                    </li>
                </ul>
            </li>
            <li @(Model == 6 ? "class=open" : "")>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">服务订单管理</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li @(Model == 6 ? "class=active" : "")>
                        <a href="/Order/ServiceOrderList"><span>服务订单一览</span></a>
                    </li>
                </ul>
            </li>
            <li @(Model == 17 ? "class=open" : "")>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">会员订单管理</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li @(Model == 17 ? "class=active" : "")>
                        <a href="/Order/MemberOrderList"><span>会员订单一览</span></a>
                    </li>
                </ul>
            </li>
            <li @(Model == 14 ? "class=open" : "")>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">优惠券管理</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li @(Model == 14 ? "class=active" : "")>
                        <a href="/Coupon/CouponList"><span>优惠券一览</span></a>
                    </li>
                </ul>
            </li>
            @if (ViewBag.Role == 1)
            {
                <li @(Model == 15 ? "class=open" : "")>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">会员等级设置</span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li @(Model == 15 ? "class=active" : "")>
                            <a href="/Level/LevelList"><span>会员等级一览</span></a>
                        </li>
                    </ul>
                </li> 
            }   

            @if (ViewBag.Role == 1)
            {
                    <li @(Model == 7 || Model == 8 || Model == 9 || Model == 10 || Model == 11 || Model == 12 || Model == 13 ? "class=open" : "")>
                        <a href="#" class="menu-dropdown">
                            <span class="menu-text">设置</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li @(Model == 7 ? "class=active" : "")>
                                <a href="/Setting/HospitalList"><span>医院设置</span></a>
                            </li>
                            <li @(Model == 8 ? "class=active" : "")>
                                <a href="/Setting/DepartmentList"><span>科室设置</span></a>
                            </li>
                            <li @(Model == 9 ? "class=active" : "")>
                                <a href="/Setting/TitleList"><span>职称设置</span></a>
                            </li>
                            <li @(Model == 10 ? "class=active" : "")>
                                <a href="/Setting/TagList"><span>标签设置</span></a>
                            </li>
                            <li @(Model == 11 ? "class=active" : "")>
                                <a href="/Setting/ChannelList"><span>会员渠道设置</span></a>
                            </li>
                            <li @(Model == 12 ? "class=active" : "")>
                                <a href="/Setting/BannerList"><span>首页轮播设置</span></a>
                            </li>
                            <li @(Model == 13 ? "class=active" : "")>
                                <a href="/Setting/GetPoint"><span>签到设置</span></a>
                            </li>
                            <li @(Model == 18 ? "class=active" : "")>
                                <a href="/Setting/MemberActList"><span>活动设置</span></a>
                            </li>
                        </ul>
                    </li>
                }

            </ul>
        </div>
        <!--左侧菜单 结束-->
        <!-- /Sidebar Menu -->
    </div>
    <!-- /侧边导航 -->


    <script type="text/javascript">
        $(function () {
            $(".menu-dropdown").on("click", function () {
                $(this).parent().toggleClass("open");
            })
        })

    </script>