@{
    WebManager.Model.ServiceOrderDetail_Model model = new WebManager.Model.ServiceOrderDetail_Model();
    Model.Manage_Model.ServiceOrder_Model ServiceOrder = new Model.Manage_Model.ServiceOrder_Model();
    if (Model != null)
    {
        model = Model;
        if (model.Data != null)
        {
            ServiceOrder = model.Data;
        }
    }
}


<script src="/assets/js/datetime/bs-datepicker.js"></script>
<script src="/Scripts/Order.js"></script>
<!--页面主体-->
<div class="page-container">
    <!--左侧菜单-->
    @Html.Partial("Sidebar", 6)
    <!--左侧菜单 结束-->
    <!--右侧主体内容-->
    <div class="page-content">
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="/Doctor/DoctorList">医生</a>
                </li>
                <li class="active">详情</li>
            </ul>
        </div>

        <div class="page-body">
            <div class="form-group navbar-form">
            </div>

            <div class="row">

                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <!--基本信息-->
                    <div class="well with-header">
                        <div class="header bordered-blue">订单</div>
                        <div class="form-horizontal form-bordered">
                            <div class="form-group">
                                <label class="col-sm-3 no-padding text-right">订单编号</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.OrderCode)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">客户姓名</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.Name)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">服务名称</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.ServiceName)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">手机号码</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.Mobile)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">手机号码</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.Gender == 1 ? "男" : "女")
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">年龄</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.Age)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">所在城市</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.LocatedCity)
                                </div>
                            </div>

                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">期望就诊日期</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.ExpectTime.ToString("yyyy-MM-dd HH:mm"))
                                </div>
                            </div>

                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">安排就诊日期</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.ArrangedTime)
                                </div>
                            </div>

                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">安排医生</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.DoctorName)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">接待人</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.ReceptionistName)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">接待人联系方式</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.ReceptionistPhone)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">咨询地点</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.Address)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">验证码</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.SafeCode)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">金额类型</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.AmountType == 2 ? "开单时确定" : "商议后确定")
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">订单金额</label>
                                @if(ServiceOrder.OrderAmount >= 0){ 
                                    <div class="col-sm-9">
                                        @(ServiceOrder.OrderAmount)
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-9">
                                        <input class="form-control gh-w-50p" type="text" placeholder="请输入订单金额" id="txtOrderAmount" />
                                        <a class="btn-blue btn-lg" onclick="operateOrderAmount('@(model.OrderCode)')">保 存</a>
                                    </div>
                                }
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">支付状态</label>
                                @{switch (ServiceOrder.PaymentStatus)
                                    {
                                        case 1:
                                            <div class="col-sm-9">
                                                未支付
                                            </div>
                                            break;
                                        case 2:
                                            <div class="col-sm-9">
                                                定金支付
                                            </div>
                                            break;
                                        case 3:
                                            <div class="col-sm-9">
                                                已支付
                                            </div>
                                            break;
                                        case 4:
                                            <div class="col-sm-9">
                                                退款申请中
                                            </div>
                                            break;
                                        case 5:
                                            <div class="col-sm-9">
                                                已退款
                                            </div>
                                            break;
                                        case 6:
                                            <div class="col-sm-9">
                                                退款驳回
                                            </div>
                                            break;
                                        default:
                                            <div class="col-sm-9">
                                            </div>
                                            break;
                                    }
                                }
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">支付时间</label>
                                <div class="col-sm-9">
                                        @(ServiceOrder.PaymentTime)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">服务状态</label>
                                @{switch (ServiceOrder.ServiceStatus)
                                    {
                                        case 1:
                                            <div class="col-sm-9">
                                                预约
                                            </div>
                                            break;
                                        case 2:
                                            <div class="col-sm-9">
                                                医生安排就绪
                                            </div>
                                            break;
                                        case 3:
                                            <div class="col-sm-9">
                                                患者确认
                                            </div>
                                            break;
                                        case 4:
                                            <div class="col-sm-9">
                                                服务进行中
                                            </div>
                                            break;
                                        case 5:
                                            <div class="col-sm-9">
                                                服务完成
                                            </div>
                                            break;
                                        case 9:
                                            <div class="col-sm-9">
                                                取消
                                            </div>
                                            break;
                                        default:
                                            <div class="col-sm-9">
                                            </div>
                                            break;
                                    }
                                }
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">订单状态</label>
                                @{switch (ServiceOrder.OrderStatus)
                                    {
                                        case 1:
                                            <div class="col-sm-9">
                                                未完成
                                            </div>
                                            break;
                                        case 2:
                                            <div class="col-sm-9">
                                                已完成
                                            </div>
                                            break;
                                        case 3:
                                            <div class="col-sm-9">
                                                取消
                                            </div>
                                            break;
                                        case 4:
                                            <div class="col-sm-9">
                                                申请售后中
                                            </div>
                                            break;
                                        case 5:
                                            <div class="col-sm-9">
                                                售后完成
                                            </div>
                                            break;
                                        case 9:
                                            <div class="col-sm-9">
                                                取消
                                            </div>
                                            break;
                                        default:
                                            <div class="col-sm-9">
                                            </div>
                                            break;
                                    }
                                }
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">完成时间</label>
                                <div class="col-sm-9" style="word-break: break-all; word-wrap:break-word">
                                    @(ServiceOrder.FinishTime)
                                </div>
                            </div>

                            <div class="form-group padding-top-10">
                                <div class="col-lg-7 text-right">
                                    <a class=" btn-info btn-lg" onclick=" window.location.href=document.referrer;">返 回</a>
                                    @if (ServiceOrder.OrderStatus == 1 || ServiceOrder.OrderStatus == 2)
                                    {
                                        <a class=" btn-blue btn-lg" onclick="CancelServiceOrder('@(model.OrderCode)')">取消订单</a>
                                    }    
                                    @if (ServiceOrder.PaymentStatus == 1)
                                    {
                                        <a class=" btn-blue btn-lg" onclick="QueryServicePayResult('@(ServiceOrder.OrderCode)')">刷新支付信息</a>
                                    }
                                    @if (ServiceOrder.OrderAmount >= 0)
                                    {
                                    <a class=" btn-blue btn-lg" onclick="ShowInput('@(model.OrderCode)','@(ServiceOrder.ArrangedTime)','@(ServiceOrder.DoctorCode)','@(ServiceOrder.Address)','@(ServiceOrder.Name)','@(ServiceOrder.Mobile)',@(ServiceOrder.ReceptionistCode))">编辑</a>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    @if (model.Data.listPayment != null && model.Data.listPayment.Count > 0)
                    {
                        foreach (Model.Manage_Model.Payment_Model payment in model.Data.listPayment)
                        {
                            <!--支付详情-->
                            <div class="well with-header">
                                <div class="header bordered-blue">支付详情</div>
                                <div class="form-horizontal form-bordered">
                                    <div class="form-group">
                                        <label class="col-sm-3 no-padding text-right">支付编号</label>
                                        <div class="col-sm-9">
                                            @(payment.PayMentCode)
                                        </div>
                                    </div>

                                    <div class="form-group padding-top-10">
                                        <label class="col-sm-3 no-padding text-right">支付类型</label>
                                        <div class="col-sm-9">
                                            @(payment.Type == 1 ? "支付" : "退款")
                                        </div>
                                    </div>
                                    <div class="form-group padding-top-10">
                                        <label class="col-sm-3 no-padding text-right">关联支付编号</label>
                                        <div class="col-sm-9">
                                            @(payment.RelatedPaymentCode)
                                        </div>
                                    </div>
                                    <div class="form-group padding-top-10">
                                        <label class="col-sm-3 no-padding text-right">来源</label>
                                        <div class="col-sm-9">
                                            @(payment.Type == 1 ? "会员订单" : payment.Type == 2 ? "服务订单" : "产品订单")
                                        </div>
                                    </div>
                                    <div class="form-group padding-top-10">
                                        <label class="col-sm-3 no-padding text-right">实付金额</label>
                                        <div class="col-sm-9">
                                            @(payment.OrderAmount)
                                        </div>
                                    </div>

                                    <div class="form-group padding-top-10">
                                        @if (payment.listPaymentDetail != null && payment.listPaymentDetail.Count > 0)
                                        {
                                            foreach (Model.Manage_Model.PaymentDetail_Model detail in payment.listPaymentDetail)
                                            {
                                                <div class="row margin-top-10">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-3 no-padding text-right">详情编号</label>
                                                        <div class="col-sm-9">
                                                            @(detail.DetailCode)
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-3 no-padding text-right">支付方式</label>
                                                        @switch (detail.Mode)
                                                        {
                                                            case 1:
                                                                <div class="col-sm-9">
                                                                    微信
                                                                </div>
                                                                break;
                                                            case 2:
                                                                <div class="col-sm-9">
                                                                    现金
                                                                </div>
                                                                break;
                                                            case 3:
                                                                <div class="col-sm-9">
                                                                    优惠券
                                                                </div>
                                                                break;
                                                            case 4:
                                                                <div class="col-sm-9">
                                                                    健康币
                                                                </div>
                                                                break;
                                                            default:
                                                                <div class="col-sm-9">
                                                                </div>
                                                                break;
                                                        }
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-3 no-padding text-right">支付金额</label>
                                                        <div class="col-sm-9">
                                                            @(detail.PaidAmount)
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                            </div>

                        }
                    }
                </div>

                @if (ServiceOrder.comment != null)
                {
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <!--评价-->
                    <div class="well with-header">
                        <div class="header bordered-blue">评价</div>
                        <div class="form-horizontal form-bordered">
                            <div class="form-group">
                                <label class="col-sm-3 no-padding text-right">平均分</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.comment.Point)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">总体</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.comment.Overall)
                                    
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">专业质量</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.comment.Profession)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">态度</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.comment.Altitude)
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">问题是否得到解决</label>
                                <div class="col-sm-9">
                                    @(ServiceOrder.comment.IsSolute == 1 ?"是":"否")
                                </div>
                            </div>
                            <div class="form-group padding-top-10">
                                <label class="col-sm-3 no-padding text-right">服务评价</label>
                                <div class="col-sm-9">

                                    @(ServiceOrder.comment.Comment)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                }
            </div>
        </div>
    </div>
</div>

<div id="mymodal" class="modal fade in">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog fade in">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title pull-left" id="hTitle"  cn="" m="">编辑订单内容</h4>
                <a class="pull-right close" id="closemymodal" onclick="closeInput()"></a>
            </div>
            <div class="modal-body">
                <div class="margin-bottom-10">
                    <div class="margin-bottom-10">客户联络信息</div>
                    <input class="form-control gh-w-100p" type="text"  id="txtCustomerInfo"  readonly/>
                </div>
                <div class="margin-bottom-10">
                    <div class="margin-bottom-10">安排就诊日期</div>
                    <input class="form-control gh-w-100p" type="text" placeholder="安排就诊日期" id="txtArrangedTime" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm' })" />
                </div>
                <div class="margin-bottom-10">
                    <div class="margin-bottom-10">安排医生</div>
                    <select class="form-control gh-w-100p" id="ddlDoctor">
                        <option value="">请选择医生</option>
                        @if (model.DoctorList != null && model.DoctorList.Count > 0)
                        {
                            foreach (Model.Manage_Model.Doctor_Model item in model.DoctorList)
                            {

                                <option value="@(item.DoctorCode)" h="@(item.HospitalName)" d="@(item.DepartmentName)" dn="@(item.Name)" dm="@(item.Phone)" >@(item.Name + " (" +item.Phone+")")</option>
                            }
                        }
                    </select>
                </div>


                <div class="margin-bottom-10">
                    <div class="margin-bottom-10">安排接待人</div>
                    <select class="form-control gh-w-100p" id="ddlStaff">
                        <option value="">请选择接待人</option>
                        @if (model.StaffList != null && model.StaffList.Count > 0)
                        {
                            foreach (Model.Manage_Model.Staff_Model item in model.StaffList)
                            {

                                <option value="@(item.StaffCode)" m="@(item.Mobile)" >@(item.Name + " (" + item.Mobile + ")")</option>
                            }
                        }
                    </select>
                </div>
                <div class="margin-bottom-10">
                    <div class="margin-bottom-10">咨询地点</div>
                    <input class="form-control gh-w-100p" type="text" placeholder="咨询地点" id="txtAddress" />
                </div>
            </div>
            <div class="modal-footer text-right">
                <a class="btn-blue btn-lg" onclick="operateServiceOrder('@(model.OrderCode)')">保存并发送短信</a>
                @if (ViewBag.Role == 1 && (ServiceOrder.OrderStatus == 1 || ServiceOrder.OrderStatus == 2))
                {
                    <a class=" btn-blue btn-lg" onclick="CancelMemberOrder('@(model.OrderCode)')">取消订单</a>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
    });
</script>

