@{
    ViewBag.Title = "服务";
    WebManager.Model.ServiceImage_Model model = new WebManager.Model.ServiceImage_Model();
    if (Model != null)
    {
        model = Model;
    }
    string Domain = System.Configuration.ConfigurationManager.AppSettings["Domian"];
}

<script src="/assets/js/ajaxfileupload.js"></script>
<script src="/Scripts/Common.js"></script>
<script src="/Scripts/Service.js"></script>
<!-- 主要容器 -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- 侧边导航 -->
        @Html.Partial("Sidebar", 16)
        <!-- /侧边导航 -->
        <!--右侧主体内容-->
        <div class="page-content">
            <div class="page-body">
                <div id="popbg" class="modal-backdrop fade" style="display: none;"></div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog loading-icon" style="width: 400px; margin-top: 150px;">
                        <img src="/assets/img/loading.gif" />
                    </div>
                </div>
                <div class="search-area clearfix">
                    <label class="pull-left font-weight-normal margin-right-10">
                        @(model.Name)
                    </label>

                    <input class="btn-lg pull-right margin-right-10" name="image_file" id="image_file" type="file" style="margin-left:15px;">
                    <a class="btn-yellow pull-right btn-lg margin-right-10" onclick="UploadImage('@(model.ServiceCode)')"><i class="fa fa-upload"></i>上传图片</a>
                </div>
                <div id="data-table" class="list-content">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="databox"  id="divPic">
                                @if (model.Data != null && model.Data.Count > 0)
                                {
                                    foreach (Model.Manage_Model.ServiceImg_Model item in model.Data)
                                    {
                                        <div class="databox-left no-padding margin-right-20 margin-bottom-20 " style="width: 150px; height: 150px;">
                                            <img style="width: 150px; height: 150px;" id="img" src="@(Domain + item.FileName)" f="@(item.FileName)">
                                            <a class="btn btn-danger btn-xs delete pull-right" style="position:absolute;right:0px;" onclick="deleteServiceImage(@(item.ID))"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--datacontent end-->
    </div>
    <!--右侧主体内容 结束-->
</div>

<input type="hidden" id="txtHidden" />
<script>

    function UploadImage(ServiceCode) {
        if ($("#image_file").val() == "") {
            alert("请选择图片");
            return;
        }

        $("#popbg").addClass("in").show();
        $("#myModal").addClass("in").show();
        $.ajaxFileUpload
            (
            {
                url: '/File/FileUpload', //用于文件上传的服务器端请求地址
                data: {

                },
                secureuri: false, //一般设置为false
                fileElementId: 'image_file', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data)  //服务器成功响应处理函数
                {
                    if (data.Code == "1") {
                        addServiceImg(ServiceCode, data.FileName);
                    } else {
                        alert("上传失败");
                    }
                    $("#popbg").removeClass("in").hide();
                    $("#myModal").removeClass("in").hide();
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                    $("#popbg").removeClass("in").hide();
                    $("#myModal").removeClass("in").hide();
                }
            }
            );
    }
    
</script>
