@{
    WebManager.Model.ServiceDetail_Model view = new WebManager.Model.ServiceDetail_Model();
    Model.Manage_Model.Service_Model model = new Model.Manage_Model.Service_Model();
    if (Model != null)
    {
        view = Model;
        if (view.Data != null)
        {
            model = view.Data;
        }

    }
    string Domain = System.Configuration.ConfigurationManager.AppSettings["Domian"];
}


<script src="/assets/js/ajaxfileupload.js">
</script><!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<script type="text/javascript">var txtIntroduct = UE.getEditor('txtIntroduct');</script>
<script src="/Scripts/Service.js"></script>
<!DOCTYPE html>
<!--页面主体-->
<div class="page-container">
    <!--左侧菜单-->
    @Html.Partial("Sidebar", 16)
    <!--左侧菜单 结束-->
    <!--右侧主体内容-->
    <div class="page-content">
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="/Service/ServiceList">服务</a>
                </li>
                <li class="active">详情</li>
            </ul>
        </div>
        <div class="page-body">
            <div id="popbg" class="modal-backdrop fade" style="display: none;"></div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog loading-icon" style="width: 400px; margin-top: 150px;">
                    <img src="/assets/img/loading.gif" />
                </div>
            </div>
            <div class="list-content">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">名称</label>
                        <div class="col-lg-5">
                            <input class="form-control gh-w-100p" type="text" placeholder="请输入名称" id="txtName" value="@(model.Name)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">服务简介</label>
                        <div class="col-lg-5">
                            <input class="form-control gh-w-100p" type="text" placeholder="请输入服务简介" id="txtSummary" value="@(model.Summary)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">服务介绍</label>
                        <div class="col-lg-9">
                            <script id="txtIntroduct" name="content" type="text/plain" style="width: 100%; height: 500px;">
                                @Html.Raw(model.Introduct)
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">原价</label>
                        <div class="col-lg-5">
                            <input class="form-control gh-w-100p" type="text" placeholder="请输入原价" id="txtOriginPrice" value="@(string.IsNullOrEmpty(view.ServiceCode) ? "" : model.OriginPrice.ToString())" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">优惠价</label>
                        <div class="col-lg-5">
                            <input class="form-control gh-w-100p" type="text" placeholder="请输入优惠价" id="txtPromPrice" value="@(string.IsNullOrEmpty(view.ServiceCode) ? "" : model.PromPrice.ToString())" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">兑换价</label>
                        <div class="col-lg-5">
                            <input class="form-control gh-w-100p" type="text" placeholder="请输入兑换价" id="txtExchangePrice" value="@(string.IsNullOrEmpty(view.ServiceCode) ? "" : model.ExchangePrice.ToString())" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">客户可见</label>
                        <div class="col-lg-5">
                            <label class="control-label font-weight-normal margin-right-20">
                                <input class="margin-right-10" type="radio" name="IsVisible" value="1" id="radioIsVisible1" @(model.IsVisible == 1 ? "checked=checked" : "")>
                                <span>是</span>
                            </label>
                            <label class="control-label font-weight-normal">
                                <input class="margin-right-10" type="radio" name="IsVisible" value="2" id="radioIsVisible2" @(model.IsVisible == 2 ? "checked=checked" : "")>
                                <span>否</span>
                            </label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-2 control-label">图片</label>
                        <div class="col-md-9">
                            <div class="databox">
                                <div class="databox-left no-padding margin-right-20 " id="divPic">
                                    <img style="width: 65px; height: 65px;" id="img" src="@(string.IsNullOrEmpty(model.ListImageURL) ? "/assets/img/Pic70.png": Domain+model.ListImageURL)" f="@(model.ListImageURL)">
                                    @if (!string.IsNullOrEmpty(model.ListImageURL))
                                    {
                                        <a class="btn btn-danger btn-xs delete pull-right" style="position:absolute;right:0px;" onclick="deleteImage(this)"><i class="fa fa-trash-o"></i></a>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="input-file pull-left" name="image_file" id="image_file" type="file" style="margin-left:15px;">
                                <a class="btn btn-sm green" onclick="UploadImage()"><i class="fa fa-upload"></i>上传图片</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7 text-right">
                            <a class=" btn-info btn-lg" onclick=" window.location.href=document.referrer;">返 回</a>
                            @if (ViewBag.Role == 1)
                            {
                            <a class=" btn-blue btn-lg" onclick="operateService('@(view.ServiceCode)')">保 存</a>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
    });


    function UploadImage() {
        if ($("#image_file").val() == "") {
            alert("请选择图片");
            return;
        }

        $("#popbg").addClass("in").show();
        $("#myModal").addClass("in").show();
        $.ajaxFileUpload
            (
            {
                url: '/File/FileUpload', //用于文件上传的服务器端请求地址
                data: {

                },
                secureuri: false, //一般设置为false
                fileElementId: 'image_file', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data)  //服务器成功响应处理函数
                {
                    if (data.Code == "1") {
                        showImage(data.Data, data.FileName);
                        alert("上传成功");
                    } else {
                        alert("上传失败");
                    }
                    $("#popbg").removeClass("in").hide();
                    $("#myModal").removeClass("in").hide();
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                    $("#popbg").removeClass("in").hide();
                    $("#myModal").removeClass("in").hide();
                }
            }
            );
    }

    function showImage(url, file_name) {
        $("#img").attr("src", url);
        $("#img").attr("f", file_name);
        if ($("#divPic a").size() == 0) {
            $("#divPic").append('<a  class="btn btn-danger btn-xs delete pull-right" style="position:absolute;right:0px; onclick="deleteImage(this)" ><i class="fa fa-trash-o"></i></a>');
        }
    }

    function deleteImage(e) {
        $("#img").attr("f", "");
        $("#img").attr("src", "/assets/img/Pic70.png");
        $(e).remove();
    }
</script>