@{
    WebManager.Model.StaffDetail_Model view = new WebManager.Model.StaffDetail_Model();
    Model.Manage_Model.Staff_Model model = new Model.Manage_Model.Staff_Model();
    if (Model != null)
    {
        view = Model;
        if (view.Data != null)
        {
            model = view.Data;
        }

    }
    string host = System.Configuration.ConfigurationManager.AppSettings["Domian"];
}

<script src="/Scripts/Staff.js"></script>
<!DOCTYPE html>
<!--页面主体-->
<div class="page-container">
    <!--左侧菜单-->
    @Html.Partial("Sidebar", 4)
    <!--左侧菜单 结束-->
    <!--右侧主体内容-->
    <div class="page-content">
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="/Staff/StaffList">运营</a>
                </li>
                <li class="active">详情</li>
            </ul>
        </div>
        <div class="page-body">
            <div id="popbg" class="modal-backdrop fade" style="display: none;"></div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog loading-icon" style="width: 400px; margin-top: 150px;">
                    <img src="/assets/img/loading.gif" />
                </div>
            </div>
            <div class="list-content">
                <div class="form-horizontal">
                    @if (string.IsNullOrEmpty(view.StaffCode))
                    {
                        <div class="form-group">
                            <label class="col-lg-2 control-label">登陆账号</label>
                            <div class="col-lg-5">
                                <input class="form-control gh-w-100p" type="text" placeholder="请输入登陆账号" id="txtLoginUserName" value="@(model.LoginUserName)" @(string.IsNullOrEmpty(view.StaffCode) ? "" : "disabled=disabled") />
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(view.StaffCode))
                    {
                        <div class="form-group">
                            <label class="col-lg-2 control-label">运营编号</label>
                            <div class="col-lg-5">
                                <input class="form-control gh-w-100p" type="text"  id="txtStaffCode" value="@(model.StaffCode)" @(string.IsNullOrEmpty(view.StaffCode) ? "" : "disabled=disabled") />
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-lg-2 control-label">姓名</label>
                        <div class="col-lg-5">
                            <input class="form-control gh-w-100p" type="text" placeholder="请输入姓名" id="txtName" value="@(model.Name)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">手机号码</label>
                        <div class="col-lg-5">
                            <input class="form-control gh-w-100p" type="text" placeholder="请输入手机号码" id="txtMobile" value="@(model.Mobile)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">性别</label>
                        <div class="col-lg-5">
                            <label class="control-label font-weight-normal margin-right-20">
                                <input class="margin-right-10" type="radio" name="Gender" value="1" id="radioGender1" @(model.Gender == 1 ? "checked=checked" : "")>
                                <span>男</span>
                            </label>
                            <label class="control-label font-weight-normal">
                                <input class="margin-right-10" type="radio" name="Gender" value="2" id="radioGender2" @(model.Gender == 2 ? "checked=checked" : "")>
                                <span>女</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">角色权限</label>
                        <div class="col-lg-5">
                            <label class="control-label font-weight-normal margin-right-20">
                                <input class="margin-right-10" type="radio" name="Role" value="1" id="radioRole1" @(model.Role == 1 ? "checked=checked" : "")>
                                <span>管理员</span>
                            </label>
                            <label class="control-label font-weight-normal">
                                <input class="margin-right-10" type="radio" name="Role" value="2" id="radioRole2" @(model.Role == 2 ? "checked=checked" : "")>
                                <span>客服</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">状态</label>
                        <div class="col-lg-5">
                            <label class="control-label font-weight-normal margin-right-20">
                                <input class="margin-right-10" type="radio" name="Status" value="1" id="radioStatus1" @(model.Status == 1 ? "checked=checked" : "")>
                                <span>有效</span>
                            </label>
                            <label class="control-label font-weight-normal">
                                <input class="margin-right-10" type="radio" name="Status" value="2" id="radioStatus2" @(model.Status == 2 ? "checked=checked" : "")>
                                <span>无效</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7 text-right">
                            <a class=" btn-info btn-lg" onclick=" window.location.href=document.referrer;">返 回</a>
                            <a class=" btn-blue btn-lg" onclick="operateStaff('@(view.StaffCode)',@(model.UserID))">保 存</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
    });
</script>