@{
    ViewBag.Title = "医生";
    WebManager.Model.DoctorList_Model model = new WebManager.Model.DoctorList_Model();
    if (Model != null)
    {
        model = Model;
    }
    string Domain = System.Configuration.ConfigurationManager.AppSettings["Domian"];
}

<script src="/Scripts/Common.js"></script>
<script src="/Scripts/Doctor.js"></script>
<!-- 主要容器 -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- 侧边导航 -->
        @Html.Partial("Sidebar",2)
        <!-- /侧边导航 -->
        <!--右侧主体内容-->
        <div class="page-content">
            <div class="page-body">
                <div class="search-area clearfix">
                    <label class="pull-left font-weight-normal margin-right-10">
                        <input class="pull-left form-control no-border-r" type="text" placeholder="按医生名进行搜索" id="txtSearchDoctorName" value="@(model.DoctorName)" />
                    </label>
                    <label class="pull-left font-weight-normal margin-right-10">
                        <select class="pull-left form-control no-border-r" id="ddlSearchHospital">
                            <option value="0">请选择医院</option>
                            @if (model.listHospital != null && model.listHospital.Count > 0)
                            {
                                foreach (Model.Manage_Model.Hospital_Model item in model.listHospital)
                                {
                                    <option value="@(item.HospitalID)">@(item.HospitalName)</option>
                                }
                            }
                        </select>
                    </label>
                    <label class="pull-left font-weight-normal margin-right-10">
                        <select class="pull-left form-control no-border-r" id="ddlSearchDepartment">
                            <option value="0">请选择科室</option>
                            @if (model.listDepartment != null && model.listDepartment.Count > 0)
                            {
                                foreach (Model.Manage_Model.Department_Model item in model.listDepartment)
                                {
                                    <option value="@(item.DepartmentID)">@(item.DepartmentName)</option>
                                }
                            }
                        </select>
                    </label>
                    <a class="btn-yellow pull-right btn-lg margin-right-10" onclick="Search()">搜 索</a>

                    @if (ViewBag.Role == 1)
                    {
                    <a class="btn-yellow pull-right btn-lg margin-right-10" href="/Doctor/DoctorDetail">新 增</a>
                    }
                </div>
                <div id="data-table" class="list-content">
                    <table class="table table-striped table-hover">
                        <colgroup class="row">
                            <col class="col-lg-2">
                            <col class="col-lg-2">
                            <col class="col-lg-2">
                            <col class="col-lg-2">
                            <col class="col-lg-2">
                            <col class="col-lg-2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>头像</th>
                                <th>医生编号</th>
                                <th>姓名</th>
                                <th>医院</th>
                                <th>科室</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (model.Data != null && model.Data.Count > 0)
                            {
                                foreach (Model.Manage_Model.Doctor_Model item in model.Data)
                                {
                                    <tr>
                                        <td><img src="@(Domain + item.ImageURL)" style="width:100px;height:100px;" /></td>
                                        <td>@(item.DoctorCode)</td>
                                        <td>@(item.Name)</td>
                                        <td>@(item.HospitalName)</td>
                                        <td>@(item.DepartmentName)</td>
                                        <td>
                                            <a class="btn-sm btn-green" href="/Doctor/DoctorDetail?cd=@(item.DoctorCode)">修改</a>
                                            @if(ViewBag.Role == 1){
                                            <a class="btn-sm btn-red" onclick="deleteDoctor(@(item.UserID),'@(item.DoctorCode)',2)">删除</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <!--分页-->
                    <div class="row DTTTFooter padding-top-10">
                        <div class="col-sm-6 padding-top-10">
                            <div class="pull-left">
                                <select class="dropdown" style="width: 60px!important;" id="ddlRowsCount" onchange="changeRowCount('@("/Doctor/DoctorList?dn=" + model.DoctorName + "&hId=" + model.HostpitalID + "&dId=" + model.DepartmentID)')">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <div class="dataTables_info pull-left  margin-left-10" style="padding-top: 6px;">
                                <span class="orange margin-right-5">@(model.TotalCount == 0 ? 0 : model.PageCount)</span>/<span class="margin-left-5 margin-right-5">@(model.TotalPage)</span>,
                                共<span class="margin-left-5 margin-right-5">@(model.TotalCount)</span>条记录
                            </div>
                        </div>
                        <div class="col-sm-6 padding-top-10">
                            <div class="dataTables_paginate paging_bootstrap pull-right">
                                <ul class="pagination">
                                    @if (model.TotalCount > 0)
                                    {
                                        if (model.PageCount == 1)
                                        {
                                            <li class="prev disabled"><a>Prev</a></li>
                                        }
                                        else
                                        {
                                            <li class="prev"><a href="/Doctor/DoctorList?dn=@(model.DoctorName)&hId=@(model.HostpitalID)&dId=@(model.DepartmentID)&rc=@(model.RowsCount)&pc=@(model.PageCount-1)">Prev</a></li>
                                        }

                                        {
                                            int StartCount = 0;
                                            int EndCount = 0;
                                            if (model.TotalPage <= 5 || model.PageCount <= 3)
                                            {
                                                StartCount = 1;
                                                EndCount = model.TotalPage > 5 ? 5 : model.TotalPage;

                                                int showPageCount = model.TotalPage > 5 ? 5 : model.TotalPage;

                                            }
                                            else
                                            {
                                                if (model.PageCount > model.TotalPage - 2)
                                                {

                                                    StartCount = model.TotalPage - 4;
                                                    EndCount = model.TotalPage;
                                                }
                                                else
                                                {
                                                    StartCount = model.PageCount - 2;
                                                    EndCount = model.PageCount + 2;

                                                }
                                            }

                                            for (var i = StartCount; i <= EndCount; i++)
                                            {
                                                <li @(i == model.PageCount ? "class=active" : "")><a href="/Doctor/DoctorList?dn=@(model.DoctorName)&hId=@(model.HostpitalID)&dId=@(model.DepartmentID)&rc=@(model.RowsCount)&pc=@(i)">@(i)</a></li>
                                            }

                                        }


                                        if (model.PageCount == model.TotalPage)
                                        {
                                            <li class="next disabled"><a>Next</a></li>
                                        }
                                        else
                                        {
                                            <li class="next"><a href="/Doctor/DoctorList?dn=@(model.DoctorName)&hId=@(model.HostpitalID)&dId=@(model.DepartmentID)&rc=@(model.RowsCount)&pc=@(model.PageCount+1)">Next</a></li>
                                        }
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!--/ 分页-->
                </div>
            </div>
        </div>
        <!--datacontent end-->
    </div>
    <!--右侧主体内容 结束-->
</div>
</div>

<input type="hidden" id="txtHidden" />
<script>
    $(function () {
        $("#txtHidden").data("PageCount", @(model.PageCount));
        $("#ddlRowsCount").val(@(model.RowsCount));
        $("#ddlSearchHospital").val(@(model.HostpitalID));
        $("#ddlSearchDepartment").val(@(model.DepartmentID));
    });
</script>
